/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-image: url("mow-images/clouds.svg");
	margin: 0;
	padding: 0;
	background-color: #63a9ff;
}

#wrapper {
	width: 100%;
}
#main_nav {
	position: fixed;
	margin-top: 2.5%;
	left: 11.85%;
	width: 88%;

}
#main_nav ul {
	font-size: 2em;
	font-family: 'Passion One', cursive;
}
#main_nav ul li{
	width: 24%;
	display: inline-block;
	text-align: center;
	background-color: #ffc68e;
	border: 3px solid #4a3414;
	box-shadow: 10px 10px 5px #555555;
	border-left: 3px solid #4a3414;
}

#main_nav li:nth-child(2) {border-left: 0px;}
#main_nav li:nth-child(3) {border-left: 0px;}
#main_nav li:nth-child(4) {border-left: 0px;}

#main_nav ul li a {
	color: #4a3414;

}

#social {
	position: fixed; 
	width: 11.84%;
}
#social img {
	max-width: 100%;
	max-height: 100%;
}
#header {
	padding-top: 11%;
	text-align: center;
}
#header img{
	width: 100%;
}
#header h1 {
	font-size: 5.625em; /*45 / 800 */
	font-family: 'Passion One', cursive;

}
#main_section {
	background-color: #359359;
	border: 3px solid #2f824e;
	margin-top: -0.48%;
	text-align: center;

}

#intro {
	font-size: 2.5em;
	font-family: 'Passion One', cursive;
	padding: 1.25em;
}

#quote_portal {
	text-align: center;
	padding: 1em;
}

#quote_portal a {
	text-decoration: none;
	font-size: 2.5em;
	font-family: 'Passion One', cursive;
	color: #97d571;

}
#quote_portal img {
	display: block;
	margin-left: auto;
	margin-right: auto; 
}

#alt_nav {
	background-color: #4a3414;
	font-size: .9em; /* 20 / 800 */
	border: 3px solid #413118;
	text-align: center;
}

#alt_nav li {
	padding-left: .5em;
	padding-right: .5em;
	display: inline;
}