/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-image: url("mowing-images/clouds.svg");
	margin: 0;
	padding: 0;
	background-color: #63a9ff;
}


#social {
	width: 5.2083%;
	height: 9.8039%;
	position: fixed;
	margin-left: 26.6817%;
	margin-top: 25%;
}

#social img {
	max-width: 75%;
	max-height: 75%;
}
#wrapper {
	width: 42.66%; /*800 / 1920*/
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#header {
	text-align: center;
}

#header img {
	width: 100%;
}
#header h1 {
	font-size: 5.625em; /*45 / 800 */
	font-family: 'Passion One', cursive;

}
#header h2 {
	z-index: 1;
	position: fixed;
	left: 38.8%;
	font-size: 4.625em; /*45 / 800 */
	font-family: 'Passion One', cursive;

}

#main_nav ul{
	width: 7.2083%;
	position: fixed;
	right: 23.4617%;
	margin-top: 36%;
}

#main_nav ul li {
	width: 100%;
	text-align: center;
	font-size: 2em;/* 101.76 */
	font-family: 'Passion One', cursive;
	margin-top: 3%;
	margin-bottom:3%;
	background-color: #ffc68e;
	border: 3px solid #4a3414;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #555555;
	border-left: 3px solid #4a3414;
}
#main_nav ul li a {
	text-decoration: none;
	color: #4a3414;
}
#main_nav ul li a:visited {
	color: #4a3414;
}
#nav_list {
	background-color: white;
	font-size: 4.5em; /*36 / 800 */

}

#intro {
	padding: 1.25em; /*10 / 800 */
	padding-bottom: 0;
	font-size: 2.5em; /* 20 / 800 */
	font-family: 'Passion One', cursive;
	margin-bottom: 0px;
}

#main_section a{
	text-decoration: none;
	color: #97d571;
	font-size: 2.5em; /* 20 / 800 */
	font-family: 'Passion One', cursive;
}
#main_section {
	background-color: #359359;
	border: 3px solid #2f824e;
	margin-top: -0.48%;
	text-align: center;

}

#main_section article {

}


#alt_nav {
	color: #4a3414;
	margin-top: .5%;
	font-weight: bold;
	font-size: .9em; /* 20 / 800 */
	text-align: center;
}

#alt_nav ul li {
	display: inline;
}

#alt_nav a {
	text-decoration: none;
	padding: 2em;
}
#alt_nav a:visited {
	color: #4a3414;
}

#quote_portal {
	text-align: center;
	padding: 1.25em;
}

#quote_portal img {
	display: block;
	background-color: #359359;
	height: 50%;
	width: 50%;
	margin: auto;
}

#quote_portal a {
}

/*QUOTE*/
#header_quote {
	text-align: center;
}

#header_quote img {
	width: 100%;
	visibility: hidden;
	z-index: -1;
}
#header_quote h1 {
	font-size: 5.625em; /*45 / 800 */
	font-family: 'Passion One', cursive;

}
#header_quote h2 {
	width: 100%;
	font-size: 4.625em; /*45 / 800 */
	font-family: 'Passion One', cursive;
}

#step_one {
	width: 42.66%; /*800 / 1920*/
	position: absolute;
	top: 29%;
	font-size: 2.5em; /* 20 / 800 */
	font-family: 'Passion One', cursive;
}
#step_one_div {
	padding-left: 1.5em;
	padding-right: 1.5em;
}
#step_one table {
	padding: 4em;
}
#step_one table td{
	padding-left: 2em;
}
#step_one table tr input {
	width: 100%;
	max-width: 100%;
	padding-top: .7em;
}
#step_one h1 {
	text-align: center;
	font-size: 1.6em; /* 20 / 800 */

}
#step_one_submit {
	margin-top: 3%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 5.5em;
}

#step_two {
	background-color: #359359;
	border: 3px solid #2f824e;
	margin-top: -0.48%;
	padding-top: 1.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	font-size: 2.5em; /* 20 / 800 */
	font-family: 'Passion One', cursive;
}

#step_two table {
	font-size: 1em;
	margin-left: auto;
	margin-right: auto;
}

#step_two table tr td {
	padding: .5em; 	
}

#step_two table tr td input {
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
}

#step_two_submit {
	margin-top: 3%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 5.5em;
}

#step_three {
	margin-top: -0.48%;
	padding-top: 1.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	font-size: 2.5em; /* 20 / 800 */
	font-family: 'Passion One', cursive;
}

#step_three_div {
	background-color: none;
}

#step_three h3 {
	margin-bottom: .4em;
}

#step_three h4 {
	color: green;
}

#step_three table {
	margin-left: auto;
	margin-right: auto;
}
#step_three table tr {
	margin-top: 0.9em;
	display: inline-block;
}
#step_three table tr:nth-child(2) {
	margin-left: 1em;
}

#step_three table tr:nth-child(3) {
	margin-left: 1em;
	margin-right: 2.4em;
}

#step_three table tr td input {
	margin-left: 1.5em;
}

#step_three table tr td input {
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
}

#step_three_submit {
	margin-top: 3%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 5.5em;
}